.createComment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 0.75rem;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.createComment > * {
  width: 100%;
}

.button {
  max-width: unset;
}
