:root {
  --primary-color: #4b1e8e;
  --secondary-color: #4e31aa;
  --accent-color: #3795bd;
  --neutral-color: #f1f1f1;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--neutral-color);
}
