.topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
