.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  min-width: 15ch;
  max-width: 50vw;
}
